<div class="container text-center my-5 py-5">
    <button class="btn btn-danger" (click)="getTest()">Test</button>
  <h1>Il Mondo delle CryptoValute</h1>
  <p class="lead">Scompriamo cosa sono e perchè è una vera opportunità di business</p>  
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 my-5">
            <img class="img-fluid" src="../../../assets/Cryptocurrency_logos.jpg" alt="">
        </div>
        <div class="col-12 col-md-6">
            <p class="lead">
                Le criptovalute (o criptomonete) utilizzano tecnologie di tipo peer-to-peer (p2p) su reti i cui nodi risultano costituiti da computer di utenti, situati potenzialmente in tutto il globo. Su questi computer vengono eseguiti appositi programmi che svolgono funzioni di portamonete. 
            </p>
            <p class="lead"> 
                Non c'è attualmente alcuna autorità centrale che le controlla. Le transazioni e il rilascio avvengono collettivamente in rete, pertanto non c'è una gestione di tipo "centralizzato". Queste proprietà, uniche nel loro genere, non possono essere esplicate dai sistemi di pagamento tradizionale. 
            </p>
            
            <p class="lead">
                Il controllo decentralizzato di ciascuna criptovaluta funziona attraverso una tecnologia di contabilità generalizzata, in genere una blockchain, che funge da database di transazioni finanziarie pubbliche.
            </p> 
            <p class="lead">
                Un sistema decentrato potrebbe essere più resistente ad attacchi informatici o a incidenti operativi rispetto a un sistema accentrato perché il primo continua a operare anche quando uno o più nodi smettono di funzionare.
            </p>
        </div>
    </div>
</div>