<h2 *ngIf="loading">LOADING...</h2>
    <div class="col-12">
        <div class="container text-center my-5">
            <label for="search-box" class="m-4 fw-bold fs-3"> <h2>Ricerca per Testo</h2> </label>
            <input type="text" class="form-control w-75 mx-auto" #searchBox id="searchBox">
            <button class="btn btn-success my-3" (click)="getCryptoById(searchBox.value)">Cerca</button>
            <ul *ngIf="cryptoId" class="list-group my-3">
                <li *ngFor="let s of cryptoId.coins" class="list-group-item my-2 item">
                    <img class="img-fluid w-25" src="{{s.thumb}}" alt="">
                    <br>
                        Nome: <span class="fw-bold">{{s.name}}</span>
                    <br>
                        MarketCap Rank: <span class="fw-bold">{{s.market_cap_rank}}</span>
                    <br>
                        Simbolo: <span class="fw-bold">{{s.symbol}}</span>
                    <br>
                </li>
            </ul>
        </div>
    </div>